/*Estilos generales*/

.App {
height: 100vh;
background-color: #715cf6;
color: #fff;
font-family: Lato, sans-serif;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
}
.titulo{
  font-size: 40px;
  font-weight: bold;
}
.logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-calculadora{
  height: 40px;
  margin-left: 12px;
}

.contenedor-calculadora{
  width: 400px;
  height: 520px;
  padding: 14px;
  background-color:#150b35;
  border-radius: 15px;
}

.fila{
  margin: 4px;
  display: flex;
  align-items:center ;
  justify-content: center;
}